<div class="share">
<div class="sticky-container">
    <ul class="sticky">
        <li>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <img width="32" height="32" title="" alt="facebook icon" src="{{site.url}}/assets/img/icons/fb1.png" />
            <p>Facebook</p>
          </a>
        </li>
        <li> 
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <img width="32" height="32" title="" alt="twitter icon" src="{{site.url}}/assets/img/icons/tw1.png" />
            <p>Twitter</p>
          </a>
        </li>
        <li> 
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
            <img width="32" height="32" title="" alt="google plus icon" src="{{site.url}}/assets/img/icons/gplus.png" />
            <p>Google+</p>
          </a>
        </li>
        <li> 
          <a href="http://pinterest.com/pin/create/button/?url={{site.url}}&description={{page.title}}">
            <img width="32" height="32" title="Share on Pinterest" alt="pinterest icon" src="{{site.url}}/assets/img/icons/pin1.png" />
             <p>Pinterest</p>
          </a>
        </li>
        <!-- <li> <img width="32" height="32" title="" alt="RSS icon" src="https://www.cssscript.com/demo/creating-a-sticky-social-share-bar-with-css3-transitions-and-transforms/img/rss1.png" />
            <p>RSS</p>
        </li> -->
    </ul>
</div>
</div>