<style>
    .share {
    .sticky-container {
        /*background-color: #333;*/
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: -119px;
        top: 130px;
        width: 200px;
        z-index: 100;
    }

    .sticky li {
        list-style-type: none;
        background-color: #333;
        color: #efefef;
        height: 43px;
        padding: 0px;
        margin: 0px 0px 1px 0px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
    }

    .sticky li:hover {
        margin-left: -115px;
        /*-webkit-transform: translateX(-115px);
    -moz-transform: translateX(-115px);
    -o-transform: translateX(-115px);
    -ms-transform: translateX(-115px);
    transform:translateX(-115px);*/
        /*background-color: #8e44ad;*/
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
    }

    .sticky li img {
        float: left;
        margin: 5px 5px;
        margin-right: 10px;
    }

    .sticky li p {
        padding: 0px;
        margin: 0px;
        text-transform: uppercase;
        line-height: 43px;
    }
    /** content **/
    .content {
        margin-top: 150px;
        margin-left: 100px;
        width: 700px;
    }

    h1,
    h2 {
        font-family: "Source Sans Pro", sans-serif;
        color: #ecf0f1;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
    }

    h1 {
        font-weight: 900;
        font-size: 64px;
    }

    h2 {
        font-size: 26px;
    }

    p {
        color: #ecf0f1;
        font-family: "Lato";
        line-height: 28px;
        font-size: 15px;
        padding-top: 50px;
    }

    p.credit {
        padding-top: 20px;
        font-size: 12px;
    }

    p a {
        color: #ecf0f1;
    }
    /** fork icon**/
    .fork {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
</style>

<div class="share">
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Comparte en facebook">
                    <img width="32" height="32" title="" alt="facebook icon" src="{{site.url}}/assets/img/icons/fb.png" />
                    <p>Facebook</p>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Comparte en Twitter">
                     <img width="32" height="32" title="" alt="twitter icon" src="{{site.url}}/assets/img/icons/tw.png" />
                    <p>Twitter</p>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Comparte en Google+">
            <img width="32" height="32" title="" alt="google plus icon" src="{{site.url}}/assets/img/icons/gplus1.png" />
            <p>Google+</p>
          </a>
            </li>
            <li>
                <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{page.title}}" target="_blank" title="Share on Pinterest">
            <img width="32" height="32" title="Comparte en Pinterest" alt="pinterest icon" src="{{site.url}}/assets/img/icons/pin.png" />
             <p>Pinterest</p>
          </a>
            </li>
            <!-- <li> <img width="32" height="32" title="" alt="RSS icon" src="https://www.cssscript.com/demo/creating-a-sticky-social-share-bar-with-css3-transitions-and-transforms/img/rss1.png" />
                <p>RSS</p>
            </li> -->
        </ul>
    </div>
</div>