---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "es_ES" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/conifer-daylight-environment-338936.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title"><!-- Todo supervivencia --></h1>
        <p class="hero__meta"><!-- Los mejores consejos de supervivencia o bushcraft, además de recomendaciones para crear tu propio kit y estar preparado para cualquier imprevisto. Os daremos las claves para saber elegir vuestros instrumentos de supervivencia --></p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
